:root {
    /* warning */
    --uit-warning-light-1: 39, 70%, 99%;
    --uit-warning-light-2: 40, 100%, 96.5%;
    --uit-warning-light-3: 44, 100%, 91.7%;
    --uit-warning-light-4: 43, 100%, 86.8%;
    --uit-warning-light-5: 42, 100%, 81.8%;
    --uit-warning-light-6: 38, 99.7%, 76.3%;
    --uit-warning-light-7: 36, 86.1%, 67.1%;
    --uit-warning-light-8: 35, 85.2%, 55.1%;
    --uit-warning-light-9: 39, 100%, 57%;
    --uit-warning-light-10: 35, 100%, 55.5%;
    --uit-warning-light-11: 30, 100%, 34%;
    --uit-warning-light-12: 20, 80%, 17%;
    --uit-warning-dark-1: 36, 100%, 6.1%;
    --uit-warning-dark-2: 35, 100%, 7.6%;
    --uit-warning-dark-3: 32, 100%, 10.2%;
    --uit-warning-dark-4: 32, 100%, 12.4%;
    --uit-warning-dark-5: 33, 100%, 14.6%;
    --uit-warning-dark-6: 35, 100%, 17.1%;
    --uit-warning-dark-7: 35, 91%, 21.6%;
    --uit-warning-dark-8: 36, 100%, 25.5%;
    --uit-warning-dark-9: 39, 100%, 57%;
    --uit-warning-dark-10: 43, 100%, 64%;
    --uit-warning-dark-11: 39, 90%, 49.8%;
    --uit-warning-dark-12: 39, 97%, 93.2%;
    /* info */
    --uit-info-light-1: 185, 60%, 98.7%;
    --uit-info-light-2: 185, 73.3%, 97.1%;
    --uit-info-light-3: 186, 70.2%, 94.4%;
    --uit-info-light-4: 186, 63.8%, 90.6%;
    --uit-info-light-5: 187, 58.3%, 85.4%;
    --uit-info-light-6: 188, 54.6%, 78.4%;
    --uit-info-light-7: 189, 53.7%, 68.7%;
    --uit-info-light-8: 189, 60.3%, 52.5%;
    --uit-info-light-9: 190, 95%, 39%;
    --uit-info-light-10: 191, 91.2%, 36.8%;
    --uit-info-light-11: 192, 85%, 31%;
    --uit-info-light-12: 192, 88%, 12.5%;
    --uit-info-dark-1: 192, 60%, 7.2%;
    --uit-info-dark-2: 192, 71.4%, 8.2%;
    --uit-info-dark-3: 192, 75.9%, 10.8%;
    --uit-info-dark-4: 192, 79.3%, 12.8%;
    --uit-info-dark-5: 192, 82.5%, 14.6%;
    --uit-info-dark-6: 192, 86.6%, 16.9%;
    --uit-info-dark-7: 192, 92.6%, 20.1%;
    --uit-info-dark-8: 192, 100%, 24.5%;
    --uit-info-dark-9: 190, 95%, 39%;
    --uit-info-dark-10: 188, 100%, 40%;
    --uit-info-dark-11: 186, 100%, 42.2%;
    --uit-info-dark-12: 185, 73%, 93.2%;
    /* success */
    --uit-success-light-1: 116, 50%, 98.9%;
    --uit-success-light-2: 120, 60%, 97.1%;
    --uit-success-light-3: 120, 53.6%, 94.8%;
    --uit-success-light-4: 121, 47.5%, 91.4%;
    --uit-success-light-5: 122, 42.6%, 86.5%;
    --uit-success-light-6: 124, 39%, 79.7%;
    --uit-success-light-7: 126, 37.1%, 70.2%;
    --uit-success-light-8: 131, 38.1%, 56.3%;
    --uit-success-light-9: 131, 41%, 46.5%;
    --uit-success-light-10: 132, 43.1%, 42.2%;
    --uit-success-light-11: 133, 50%, 32.5%;
    --uit-success-light-12: 130, 30%, 14.9%;
    --uit-success-dark-1: 146, 30%, 7.4%;
    --uit-success-dark-2: 136, 33.3%, 8.8%;
    --uit-success-dark-3: 137, 36%, 11.4%;
    --uit-success-dark-4: 137, 37.6%, 13.7%;
    --uit-success-dark-5: 136, 38.7%, 16%;
    --uit-success-dark-6: 135, 39.6%, 19.1%;
    --uit-success-dark-7: 134, 40.3%, 23.8%;
    --uit-success-dark-8: 131, 40.1%, 30.8%;
    --uit-success-dark-9: 131, 41%, 46.5%;
    --uit-success-dark-10: 131, 39%, 52.1%;
    --uit-success-dark-11: 131, 43%, 57.2%;
    --uit-success-dark-12: 137, 72%, 94%;
    /* primary */
    --uit-primary-light-1: 225, 60%, 99.4%;
    --uit-primary-light-2: 223, 100%, 98.6%;
    --uit-primary-light-3: 223, 98.4%, 97.1%;
    --uit-primary-light-4: 223, 92.9%, 95%;
    --uit-primary-light-5: 224, 87.1%, 92%;
    --uit-primary-light-6: 224, 81.9%, 87.8%;
    --uit-primary-light-7: 225, 77.4%, 82.1%;
    --uit-primary-light-8: 226, 75.4%, 74.5%;
    --uit-primary-light-9: 226, 70%, 55.5%;
    --uit-primary-light-10: 226, 58.6%, 51.3%;
    --uit-primary-light-11: 226, 55%, 45%;
    --uit-primary-light-12: 226, 62%, 17%;
    --uit-primary-dark-1: 229, 24%, 10%;
    --uit-primary-dark-2: 230, 36.4%, 12.9%;
    --uit-primary-dark-3: 228, 43.3%, 17.5%;
    --uit-primary-dark-4: 227, 47.2%, 21%;
    --uit-primary-dark-5: 227, 50%, 24.1%;
    --uit-primary-dark-6: 226, 52.9%, 28.2%;
    --uit-primary-dark-7: 226, 56%, 34.5%;
    --uit-primary-dark-8: 226, 58.2%, 44.1%;
    --uit-primary-dark-9: 226, 70%, 55.5%;
    --uit-primary-dark-10: 227, 75.2%, 61.6%;
    --uit-primary-dark-11: 228, 100%, 75.9%;
    --uit-primary-dark-12: 226, 83%, 96.3%;
    /* neutral */
    --uit-neutral-light-1: 206, 30%, 98.8%;
    --uit-neutral-light-2: 210, 16.7%, 97.6%;
    --uit-neutral-light-3: 209, 13.3%, 95.3%;
    --uit-neutral-light-4: 209, 12.2%, 93.2%;
    --uit-neutral-light-5: 208, 11.7%, 91.1%;
    --uit-neutral-light-6: 208, 11.3%, 88.9%;
    --uit-neutral-light-7: 207, 11.1%, 85.9%;
    --uit-neutral-light-8: 205, 10.7%, 78%;
    --uit-neutral-light-9: 206, 6%, 56.1%;
    --uit-neutral-light-10: 206, 5.8%, 52.3%;
    --uit-neutral-light-11: 206, 6%, 43.5%;
    --uit-neutral-light-12: 206, 24%, 9%;
    --uit-neutral-dark-1: 200, 7%, 8.8%;
    --uit-neutral-dark-2: 195, 7.1%, 11%;
    --uit-neutral-dark-3: 197, 6.8%, 13.6%;
    --uit-neutral-dark-4: 198, 6.6%, 15.8%;
    --uit-neutral-dark-5: 199, 6.4%, 17.9%;
    --uit-neutral-dark-6: 201, 6.2%, 20.5%;
    --uit-neutral-dark-7: 203, 6%, 24.3%;
    --uit-neutral-dark-8: 207, 5.6%, 31.6%;
    --uit-neutral-dark-9: 206, 6%, 43.9%;
    --uit-neutral-dark-10: 206, 5.2%, 49.5%;
    --uit-neutral-dark-11: 206, 6%, 63%;
    --uit-neutral-dark-12: 210, 6%, 93%;
    /* danger */
    --uit-danger-light-1: 10, 100%, 99.4%;
    --uit-danger-light-2: 8, 100%, 98.4%;
    --uit-danger-light-3: 8, 100%, 96.6%;
    --uit-danger-light-4: 8, 100%, 94.3%;
    --uit-danger-light-5: 8, 92.8%, 91%;
    --uit-danger-light-6: 9, 84.7%, 86.3%;
    --uit-danger-light-7: 10, 77.3%, 79.5%;
    --uit-danger-light-8: 10, 71.6%, 71%;
    --uit-danger-light-9: 10, 78%, 54%;
    --uit-danger-light-10: 10, 71.5%, 50%;
    --uit-danger-light-11: 10, 82%, 43.5%;
    --uit-danger-light-12: 10, 50%, 13.5%;
    --uit-danger-dark-1: 10, 23%, 9.4%;
    --uit-danger-dark-2: 9, 44.8%, 11.4%;
    --uit-danger-dark-3: 8, 52%, 15.3%;
    --uit-danger-dark-4: 7, 56.3%, 18%;
    --uit-danger-dark-5: 7, 60.1%, 20.6%;
    --uit-danger-dark-6: 8, 64.8%, 24%;
    --uit-danger-dark-7: 8, 71.2%, 29.1%;
    --uit-danger-dark-8: 10, 80.2%, 35.7%;
    --uit-danger-dark-9: 10, 78%, 54%;
    --uit-danger-dark-10: 10, 81.7%, 59%;
    --uit-danger-dark-11: 10, 85%, 62.8%;
    --uit-danger-dark-12: 10, 89%, 96%;
    /* secondary */
    --uit-secondary-light-1: 255, 65%, 99.4%;
    --uit-secondary-light-2: 252, 100%, 99%;
    --uit-secondary-light-3: 252, 96.9%, 97.4%;
    --uit-secondary-light-4: 252, 91.5%, 95.5%;
    --uit-secondary-light-5: 252, 85.1%, 93%;
    --uit-secondary-light-6: 252, 77.8%, 89.4%;
    --uit-secondary-light-7: 252, 71%, 83.7%;
    --uit-secondary-light-8: 252, 68.6%, 76.3%;
    --uit-secondary-light-9: 252, 56%, 57.5%;
    --uit-secondary-light-10: 251, 48.1%, 53.5%;
    --uit-secondary-light-11: 250, 43%, 48%;
    --uit-secondary-light-12: 254, 60%, 18.5%;
    --uit-secondary-dark-1: 250, 20%, 10.2%;
    --uit-secondary-dark-2: 255, 30.3%, 12.9%;
    --uit-secondary-dark-3: 253, 37%, 18.4%;
    --uit-secondary-dark-4: 252, 40.1%, 22.5%;
    --uit-secondary-dark-5: 252, 42.2%, 26.2%;
    --uit-secondary-dark-6: 251, 44.3%, 31.1%;
    --uit-secondary-dark-7: 250, 46.8%, 38.9%;
    --uit-secondary-dark-8: 250, 51.8%, 51.2%;
    --uit-secondary-dark-9: 252, 56%, 57.5%;
    --uit-secondary-dark-10: 251, 63.2%, 63.2%;
    --uit-secondary-dark-11: 250, 95%, 76.8%;
    --uit-secondary-dark-12: 252, 87%, 96.4%;
}

:root {
    /* warning */
    --uit-warning-auto-1: var(--uit-warning-light-1);
    --uit-warning-auto-2: var(--uit-warning-light-2);
    --uit-warning-auto-3: var(--uit-warning-light-3);
    --uit-warning-auto-4: var(--uit-warning-light-4);
    --uit-warning-auto-5: var(--uit-warning-light-5);
    --uit-warning-auto-6: var(--uit-warning-light-6);
    --uit-warning-auto-7: var(--uit-warning-light-7);
    --uit-warning-auto-8: var(--uit-warning-light-8);
    --uit-warning-auto-9: var(--uit-warning-light-9);
    --uit-warning-auto-10: var(--uit-warning-light-10);
    --uit-warning-auto-11: var(--uit-warning-light-11);
    --uit-warning-auto-12: var(--uit-warning-light-12);
    /* info */
    --uit-info-auto-1: var(--uit-info-light-1);
    --uit-info-auto-2: var(--uit-info-light-2);
    --uit-info-auto-3: var(--uit-info-light-3);
    --uit-info-auto-4: var(--uit-info-light-4);
    --uit-info-auto-5: var(--uit-info-light-5);
    --uit-info-auto-6: var(--uit-info-light-6);
    --uit-info-auto-7: var(--uit-info-light-7);
    --uit-info-auto-8: var(--uit-info-light-8);
    --uit-info-auto-9: var(--uit-info-light-9);
    --uit-info-auto-10: var(--uit-info-light-10);
    --uit-info-auto-11: var(--uit-info-light-11);
    --uit-info-auto-12: var(--uit-info-light-12);
    /* success */
    --uit-success-auto-1: var(--uit-success-light-1);
    --uit-success-auto-2: var(--uit-success-light-2);
    --uit-success-auto-3: var(--uit-success-light-3);
    --uit-success-auto-4: var(--uit-success-light-4);
    --uit-success-auto-5: var(--uit-success-light-5);
    --uit-success-auto-6: var(--uit-success-light-6);
    --uit-success-auto-7: var(--uit-success-light-7);
    --uit-success-auto-8: var(--uit-success-light-8);
    --uit-success-auto-9: var(--uit-success-light-9);
    --uit-success-auto-10: var(--uit-success-light-10);
    --uit-success-auto-11: var(--uit-success-light-11);
    --uit-success-auto-12: var(--uit-success-light-12);
    /* primary */
    --uit-primary-auto-1: var(--uit-primary-light-1);
    --uit-primary-auto-2: var(--uit-primary-light-2);
    --uit-primary-auto-3: var(--uit-primary-light-3);
    --uit-primary-auto-4: var(--uit-primary-light-4);
    --uit-primary-auto-5: var(--uit-primary-light-5);
    --uit-primary-auto-6: var(--uit-primary-light-6);
    --uit-primary-auto-7: var(--uit-primary-light-7);
    --uit-primary-auto-8: var(--uit-primary-light-8);
    --uit-primary-auto-9: var(--uit-primary-light-9);
    --uit-primary-auto-10: var(--uit-primary-light-10);
    --uit-primary-auto-11: var(--uit-primary-light-11);
    --uit-primary-auto-12: var(--uit-primary-light-12);
    /* neutral */
    --uit-neutral-auto-1: var(--uit-neutral-light-1);
    --uit-neutral-auto-2: var(--uit-neutral-light-2);
    --uit-neutral-auto-3: var(--uit-neutral-light-3);
    --uit-neutral-auto-4: var(--uit-neutral-light-4);
    --uit-neutral-auto-5: var(--uit-neutral-light-5);
    --uit-neutral-auto-6: var(--uit-neutral-light-6);
    --uit-neutral-auto-7: var(--uit-neutral-light-7);
    --uit-neutral-auto-8: var(--uit-neutral-light-8);
    --uit-neutral-auto-9: var(--uit-neutral-light-9);
    --uit-neutral-auto-10: var(--uit-neutral-light-10);
    --uit-neutral-auto-11: var(--uit-neutral-light-11);
    --uit-neutral-auto-12: var(--uit-neutral-light-12);

    /* danger */
    --uit-danger-auto-1: var(--uit-danger-light-1);
    --uit-danger-auto-2: var(--uit-danger-light-2);
    --uit-danger-auto-3: var(--uit-danger-light-3);
    --uit-danger-auto-4: var(--uit-danger-light-4);
    --uit-danger-auto-5: var(--uit-danger-light-5);
    --uit-danger-auto-6: var(--uit-danger-light-6);
    --uit-danger-auto-7: var(--uit-danger-light-7);
    --uit-danger-auto-8: var(--uit-danger-light-8);
    --uit-danger-auto-9: var(--uit-danger-light-9);
    --uit-danger-auto-10: var(--uit-danger-light-10);
    --uit-danger-auto-11: var(--uit-danger-light-11);
    --uit-danger-auto-12: var(--uit-danger-light-12);
    /* secondary */
    --uit-secondary-auto-1: var(--uit-secondary-light-1);
    --uit-secondary-auto-2: var(--uit-secondary-light-2);
    --uit-secondary-auto-3: var(--uit-secondary-light-3);
    --uit-secondary-auto-4: var(--uit-secondary-light-4);
    --uit-secondary-auto-5: var(--uit-secondary-light-5);
    --uit-secondary-auto-6: var(--uit-secondary-light-6);
    --uit-secondary-auto-7: var(--uit-secondary-light-7);
    --uit-secondary-auto-8: var(--uit-secondary-light-8);
    --uit-secondary-auto-9: var(--uit-secondary-light-9);
    --uit-secondary-auto-10: var(--uit-secondary-light-10);
    --uit-secondary-auto-11: var(--uit-secondary-light-11);
    --uit-secondary-auto-12: var(--uit-secondary-light-12);
}

.dark:root {
    /* warningDark */
    --uit-warning-auto-1: var(--uit-warning-dark-1);
    --uit-warning-auto-2: var(--uit-warning-dark-2);
    --uit-warning-auto-3: var(--uit-warning-dark-3);
    --uit-warning-auto-4: var(--uit-warning-dark-4);
    --uit-warning-auto-5: var(--uit-warning-dark-5);
    --uit-warning-auto-6: var(--uit-warning-dark-6);
    --uit-warning-auto-7: var(--uit-warning-dark-7);
    --uit-warning-auto-8: var(--uit-warning-dark-8);
    --uit-warning-auto-9: var(--uit-warning-dark-9);
    --uit-warning-auto-10: var(--uit-warning-dark-10);
    --uit-warning-auto-11: var(--uit-warning-dark-11);
    --uit-warning-auto-12: var(--uit-warning-dark-12);
    /* infoDark */
    --uit-info-auto-1: var(--uit-info-dark-1);
    --uit-info-auto-2: var(--uit-info-dark-2);
    --uit-info-auto-3: var(--uit-info-dark-3);
    --uit-info-auto-4: var(--uit-info-dark-4);
    --uit-info-auto-5: var(--uit-info-dark-5);
    --uit-info-auto-6: var(--uit-info-dark-6);
    --uit-info-auto-7: var(--uit-info-dark-7);
    --uit-info-auto-8: var(--uit-info-dark-8);
    --uit-info-auto-9: var(--uit-info-dark-9);
    --uit-info-auto-10: var(--uit-info-dark-10);
    --uit-info-auto-11: var(--uit-info-dark-11);
    --uit-info-auto-12: var(--uit-info-dark-12);
    /* successDark */
    --uit-success-auto-1: var(--uit-success-dark-1);
    --uit-success-auto-2: var(--uit-success-dark-2);
    --uit-success-auto-3: var(--uit-success-dark-3);
    --uit-success-auto-4: var(--uit-success-dark-4);
    --uit-success-auto-5: var(--uit-success-dark-5);
    --uit-success-auto-6: var(--uit-success-dark-6);
    --uit-success-auto-7: var(--uit-success-dark-7);
    --uit-success-auto-8: var(--uit-success-dark-8);
    --uit-success-auto-9: var(--uit-success-dark-9);
    --uit-success-auto-10: var(--uit-success-dark-10);
    --uit-success-auto-11: var(--uit-success-dark-11);
    --uit-success-auto-12: var(--uit-success-dark-12);
    /* primaryDark */
    --uit-primary-auto-1: var(--uit-primary-dark-1);
    --uit-primary-auto-2: var(--uit-primary-dark-2);
    --uit-primary-auto-3: var(--uit-primary-dark-3);
    --uit-primary-auto-4: var(--uit-primary-dark-4);
    --uit-primary-auto-5: var(--uit-primary-dark-5);
    --uit-primary-auto-6: var(--uit-primary-dark-6);
    --uit-primary-auto-7: var(--uit-primary-dark-7);
    --uit-primary-auto-8: var(--uit-primary-dark-8);
    --uit-primary-auto-9: var(--uit-primary-dark-9);
    --uit-primary-auto-10: var(--uit-primary-dark-10);
    --uit-primary-auto-11: var(--uit-primary-dark-11);
    --uit-primary-auto-12: var(--uit-primary-dark-12);
    /* neutralDark */
    --uit-neutral-auto-1: var(--uit-neutral-dark-1);
    --uit-neutral-auto-2: var(--uit-neutral-dark-2);
    --uit-neutral-auto-3: var(--uit-neutral-dark-3);
    --uit-neutral-auto-4: var(--uit-neutral-dark-4);
    --uit-neutral-auto-5: var(--uit-neutral-dark-5);
    --uit-neutral-auto-6: var(--uit-neutral-dark-6);
    --uit-neutral-auto-7: var(--uit-neutral-dark-7);
    --uit-neutral-auto-8: var(--uit-neutral-dark-8);
    --uit-neutral-auto-9: var(--uit-neutral-dark-9);
    --uit-neutral-auto-10: var(--uit-neutral-dark-10);
    --uit-neutral-auto-11: var(--uit-neutral-dark-11);
    --uit-neutral-auto-12: var(--uit-neutral-dark-12);
    /* dangerDark */
    --uit-danger-auto-1: var(--uit-danger-dark-1);
    --uit-danger-auto-2: var(--uit-danger-dark-2);
    --uit-danger-auto-3: var(--uit-danger-dark-3);
    --uit-danger-auto-4: var(--uit-danger-dark-4);
    --uit-danger-auto-5: var(--uit-danger-dark-5);
    --uit-danger-auto-6: var(--uit-danger-dark-6);
    --uit-danger-auto-7: var(--uit-danger-dark-7);
    --uit-danger-auto-8: var(--uit-danger-dark-8);
    --uit-danger-auto-9: var(--uit-danger-dark-9);
    --uit-danger-auto-10: var(--uit-danger-dark-10);
    --uit-danger-auto-11: var(--uit-danger-dark-11);
    --uit-danger-auto-12: var(--uit-danger-dark-12);
    /* secondaryDark */
    --uit-secondary-auto-1: var(--uit-secondary-dark-1);
    --uit-secondary-auto-2: var(--uit-secondary-dark-2);
    --uit-secondary-auto-3: var(--uit-secondary-dark-3);
    --uit-secondary-auto-4: var(--uit-secondary-dark-4);
    --uit-secondary-auto-5: var(--uit-secondary-dark-5);
    --uit-secondary-auto-6: var(--uit-secondary-dark-6);
    --uit-secondary-auto-7: var(--uit-secondary-dark-7);
    --uit-secondary-auto-8: var(--uit-secondary-dark-8);
    --uit-secondary-auto-9: var(--uit-secondary-dark-9);
    --uit-secondary-auto-10: var(--uit-secondary-dark-10);
    --uit-secondary-auto-11: var(--uit-secondary-dark-11);
    --uit-secondary-auto-12: var(--uit-secondary-dark-12);
}
